[submodule "firehose"]
    path = firehose
    url = https://github.com/josiahls/firehose.git
    branch = main
    ignore = all

[submodule "modular"]
    path = modular
    url = https://github.com/josiahls/modular.git
    branch = josiahls/add-ulong-c-ffi
    ignore = all

[submodule "EmberJson"]
    path = EmberJson
    url = https://github.com/josiahls/EmberJson.git
    branch = main
    ignore = all