[submodule "firehose"]
    path = firehose
    url = https://github.com/josiahls/firehose.git
    branch = main
    ignore = all

[submodule "modular"]
    path = modular
    url = https://github.com/josiahls/modular.git
    branch = main
    ignore = all