.env
# pixi environments
.pixi
*.egg-info
# magic environments
.magic
# vscode / cursor
.vscode/settings.json

# Build Artifacts
*.mojopkg

# Submodules
firehose
modular
EmberJson

# Stdlib build artifacts
kgen.trace*