.env
# pixi environments
.pixi
*.egg-info
# magic environments
.magic
# vscode / cursor
.vscode/settings.json

tests/simple_struct_test

# Submodules
firehose
modular

# Stdlib build artifacts
kgen.trace*